In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
Apple_csv_path = Path("Resources/HistoricalQuotes1.csv")
Tesla_csv_path = Path("Resources/Tesla.csv - Tesla.csv.csv")

In [3]:
Apple_df = pd.read_csv(Apple_csv_path, index_col="Date", parse_dates=True, infer_datetime_format=True)
Tesla_df = pd.read_csv(Tesla_csv_path, index_col="Date", parse_dates=True, infer_datetime_format=True)

In [4]:
combined_df = pd.concat([Apple_df, Tesla_df], axis="columns", join="inner")
combined_df.sort_index(inplace=True)
combined_df.head()

,Close/Last,Volume,Open,High,Low,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,,,,,,
2010-06-29,$36.5957,282782865,$37.7316,$37.77,$36.3286,19.000000,25.00,17.540001,23.889999,18766300,23.889999
2010-06-30,$35.9328,184538045,$36.6728,$36.8528,$35.7157,25.790001,30.42,23.299999,23.830000,17187100,23.830000
2010-07-01,$35.4971,255527517,$36.3286,$36.4,$34.7457,25.000000,25.92,20.270000,21.959999,8218800,21.959999
2010-07-02,$35.2771,173446612,$35.7843,$35.8471,$34.7428,23.000000,23.10,18.709999,19.200001,5139800,19.200001
2010-07-06,$35.5186,153559326,$35.8571,$36.1143,$35.1657,20.000000,20.00,15.830000,16.110001,6866900,16.110001

In [5]:
combined_df.drop(columns=['Volume', 'Open', 'High', 'Low'], inplace=True)
combined_df.head()

,Close/Last,Volume,Open,High,Low,Close,Adj Close
Date,,,,,,,
2010-06-29,$36.5957,282782865,$37.7316,$37.77,$36.3286,23.889999,23.889999
2010-06-30,$35.9328,184538045,$36.6728,$36.8528,$35.7157,23.830000,23.830000
2010-07-01,$35.4971,255527517,$36.3286,$36.4,$34.7457,21.959999,21.959999
2010-07-02,$35.2771,173446612,$35.7843,$35.8471,$34.7428,19.200001,19.200001
2010-07-06,$35.5186,153559326,$35.8571,$36.1143,$35.1657,16.110001,16.110001

In [6]:
daily_returns = combined_df.pct_change()
daily_returns.head()

TypeError: unsupported operand type(s) for /: 'str' and 'str'